
h1 {
    display: inline-block;
    color: antiquewhite;
    margin: 50px;
    padding: 30px 50px;
}

header {
    display: block;
    margin: auto;
    text-align: center;
    overflow: hidden;
    background: #252932;
}

body {
    background-color: aliceblue;
}

article {
    display: inline-block;
    border: white 3px solid;
    background-color: #f4f1de;
    text-align: center;
    width: 20%;
    font-weight: bold;
}
.naranja2 {
    display: inline-block;
    margin: auto;
    align-items: center;
    background-color: #f56f3a;
    width: 30%;
}
footer {
    font-weight: bolder;
    color: whitesmoke;
    display: block;
    margin: auto;
    border: 3px solid;
    background-color: #e07a5f;
    bottom: 0;
    left: 50px;
}

.estilo {
    font-family: fantasy;
    text-align: center;
    font-weight: 900;
}

.lista {
    float: left;
}

.error {
    color: tomato;
}
